{% extends 'base.html.twig' %}

{% block title %}Player list{% endblock %}

{% block body %}
    <h1>Player list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Surname</th>
                <th>Team</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for player in paginator.items %}
            <tr>
                <td>{{ player.name }}</td>
                <td>{{ player.surname }}</td>
                <td>{{ player.team }}</td>
                <td>
                    <a href="{{ path('app_player_edit', {'id': player.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
    {% include "paginator.html.twig" %}

    <a href="{{ path('app_player_new') }}">Add new player</a>
{% endblock %}
