{% extends 'base.html.twig' %}



{% block title %}Team list{% endblock %}

{% block body %}
    <h1>Team list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Country</th>
                <th>Balance</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for team in paginator.items %}
            <tr>
                <td>{{ team.name }}</td>
                <td>{{ team.country | country_name }}</td>
                <td>{{ team.balance }}</td>
                <td>
                    <a href="{{ path('app_team_edit', {'id': team.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="jumbotron text-center" id="testVue">
            <example></example>
        </div>
    {% include "paginator.html.twig" %}

    <a href="{{ path('app_team_new') }}">Add new team</a>

        
{% endblock %}
